<h2>本当に消しますか?</h2>
<div class="button">
  <form method="post" action="/delete/<%= @id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input id="submit-button" type="submit" value="消す">
  </form>
  <form method="get" action="/">
    <input id="submit-button" type="submit" value="消さない">
  </form>
</div>
