<form method="post" action="/new">
  <p>タイトル:<br>
    <input id="title" type="text" name="title">
  </p>
  <p>ないよう:<br>
    <textarea name="content" rows="6" cols="50"></textarea>
  </p>
  <input type="hidden" name="_method" value="POST">
  <input id="submit-button" type="submit" value="保存">
</form>
