<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/test.css">
  <title>layout</title>
</head>
<body>
<h1 class="head">
  <a href="/">ymotoのメモ帳</a>
</h1>
<p>
  <a href="/"><img src="/ymotoicon.jpg" class="icon"></a>
</p>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
